<footer class="bg-dark py-5">
    <div class="container">
        <div class="row text-light">            
           
            <div class="col-md-8 col-sm-6">                 
                <div class="row">                        
                    <h5 class="ftr-title-text mb-3">Contactos útiles</h5>                    
                    <div class="col-md-4 col-sm-12 fw-light">
                        <p><i class="bi bi-telephone"></i> Guardia<br> <a class="a-tel" href="tel:+541103484493918">03484-493918</a></p>
                    </div>
                    <div class="col-md-4 col-sm-12 fw-light">
                        <p><i class="bi bi-whatsapp"></i> Administración<br> <a class="a-tel" href="https://api.whatsapp.com/send?phone=+54920206021">+54 9 2020 6021</a></p>
                    </div>        
                    <div class="col-md-4 col-sm-12 fw-light">
                        <p><i class="bi bi-whatsapp"></i> House<br> <a class="a-tel" href="https://api.whatsapp.com/send?phone=+5494493945">+54 9 449 3945</a></p>
                    </div>
                </div>                
            </div>
            
            <div class="col-md-4 col-sm-6 text-center">
                 <img class="ftr-image" src="/img/logo.png" alt="Barrio El Aromo">
                <p class="fst-italic">Su naturaleza lo ha hecho único</p>                 
            </div>

        </div>
    </div>
</footer>